.header {
  background-image: url("/images/mobile/image-hero.jpg");
  width: 100%;
  height: 100%;
  max-height: 45em;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
}

.nav__logo {
  background-image: url("/images/logo.svg");
  width: 10em;
  height: 1.5em;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  max-width: 50%;
  position: absolute;
  top: 2em;
  z-index: 5;
  left: 1em;
}

.nav-menu {
  width: 3em;
}
.dropdown {
  position: absolute;
  right: 1em;
  top: 1.5em;
  z-index: 5;
}

input[type="checkbox"] + label {
  .icon-bar {
    display: block;
    width: 2em;
    height: 0.05em;
    background-color: #cccccc;
    margin: 0.5em;
    transition: all 0.4s ease-in-out;
  }
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
    transition: all 0.1s;
  }
  .bottom-bar {
    opacity: 1;
  }
}
.nav__menu_collapse {
  display: none;
}

input[type="checkbox"]:checked + label {
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

input.input-box[type="checkbox"]:checked ~ .nav__menu_collapse {
  visibility: visible;
}

.nav__menu_collapse {
  height: 100vh;
  width: 100vw;
  background: $black;
  z-index: 2;
  visibility: hidden;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.nav__menu_collapse__items {
  color: $white;
  width: 100vw;
  height: auto;
  position: absolute;
  top: 30%;
  padding: 2em;
  li {
    font-family: $font-secondary;
    font-size: 1.75em;
    text-transform: uppercase;
    padding: 0.35em 0;
  }
}

.nav__menu__content {
  width: 100%;
  height: auto;
  padding: 0.4em;
  font-size: 3em;
  border: 3px solid $white;
  color: $white;
  font-family: $font-secondary;
  word-break: break-word;
  position: relative;
  top: 30%;
  h3 {
    font-size: 11vw;
    text-transform: uppercase;
  }
}

@include mq($from: tablet) {
  .header {
    background-image: url("/images/desktop/image-hero.jpg");
    width: 100%;
    height: 100%;
    max-height: 35em;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .dropdown,
  .input-box {
    display: none;
  }

  .nav__menu__content {
    max-width: 8.5em;
    h3 {
      font-size: 1em;
      text-transform: uppercase;
    }
  }
  .nav__logo {
    position: relative;
    left: 0;
  }

  .nav__menu_collapse {
    position: absolute;
    display: flex;
    visibility: visible;
    height: auto;
    width: 100%;
    background-color: transparent;
    ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 1.5em 0;
      li {
        font-size: 20px;
        margin: 0 0.5em;
        text-transform: none;
        padding: 0.1em;
        position: relative;
        &:hover::after {
          content: "";
          border-bottom: 0.15em solid $white;
          position: absolute;
          top: 1.5em;
          width: 2em;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
